In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("/content/train.csv")

In [3]:
df.head(2)

,Property_ID,Property_Type,Property_Area,Number_of_Windows,Number_of_Doors,Furnishing,Frequency_of_Powercuts,Power_Backup,Water_Supply,Traffic_Density_Score,Crime_Rate,Dust_and_Noise,Air_Quality_Index,Neighborhood_Review,Habitability_score
0,0x21e3,Apartment,106,NaN,1,Semi_Furnished,0.0,No,Once in a day - Morning,5.89,Slightly below average,Medium,90.0,3.86,71.98
1,0x68d4,Apartment,733,2.0,2,Unfurnished,1.0,No,Once in a day - Evening,4.37,Well below average,Medium,96.0,3.55,71.20

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39499 entries, 0 to 39498
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Property_ID             39499 non-null  object
 1   Property_Type           39499 non-null  object
 2   Property_Area           39499 non-null  int64
 3   Number_of_Windows       37845 non-null  float64
 4   Number_of_Doors         39499 non-null  int64
 5   Furnishing              38457 non-null  object
 6   Frequency_of_Powercuts  38116 non-null  float64
 7   Power_Backup            39499 non-null  object
 8   Water_Supply            39499 non-null  object
 9   Traffic_Density_Score   39499 non-null  float64
 10  Crime_Rate              38712 non-null  object
 11  Dust_and_Noise          38280 non-null  object
 12  Air_Quality_Index       39499 non-null  float64
 13  Neighborhood_Review     39499 non-null  float64
 14  Habitability_score      39499 non-null  float64
dtypes: float64(6), int64(2), object(7)
memory usage: 4.5+ MB

In [7]:
df.dropna(inplace=True)

In [12]:
df.head(2)

,Property_ID,Property_Type,Property_Area,Number_of_Windows,Number_of_Doors,Furnishing,Frequency_of_Powercuts,Power_Backup,Water_Supply,Traffic_Density_Score,Crime_Rate,Dust_and_Noise,Air_Quality_Index,Neighborhood_Review,Habitability_score
1,0x68d4,Apartment,733,2.0,2,Unfurnished,1.0,No,Once in a day - Evening,4.37,Well below average,Medium,96.0,3.55,71.20
2,0x7d81,Apartment,737,4.0,2,Fully Furnished,0.0,No,Once in a day - Morning,7.45,Slightly below average,Medium,121.0,3.81,71.39

In [82]:
df1 = df.iloc[:,[1,5,7,8,10,11]]
df1

,Property_Type,Furnishing,Power_Backup,Water_Supply,Crime_Rate,Dust_and_Noise
1,Apartment,Unfurnished,No,Once in a day - Evening,Well below average,Medium
2,Apartment,Fully Furnished,No,Once in a day - Morning,Slightly below average,Medium
3,Apartment,Unfurnished,Yes,Once in a day - Morning,Well above average,Medium
4,Bungalow,Fully Furnished,No,All time,Well below average,Medium
5,Single-family home,Unfurnished,No,Once in a day - Morning,Well below average,Medium
...,...,...,...,...,...,...
39491,Bungalow,Semi_Furnished,Yes,All time,Well below average,Medium
39492,Bungalow,Fully Furnished,No,All time,Slightly above average,Medium
39495,Apartment,Fully Furnished,No,All time,Slightly above average,Medium
39496,Bungalow,Unfurnished,Yes,Once in two days,Well below average,Medium
39498,Single-family home,Fully Furnished,No,All time,Well below average,High

In [83]:
for a in df1.columns:
  print(a,len(df1[a].unique()))

Property_Type 6
Furnishing 3
Power_Backup 3
Water_Supply 5
Crime_Rate 4
Dust_and_Noise 3

In [84]:
from sklearn.preprocessing import OneHotEncoder

In [85]:
ohe = OneHotEncoder()
df1 = ohe.fit_transform(df1)

In [87]:
df1=pd.DataFrame(df1.toarray())

In [70]:
df2 = df.iloc[:,[2,3,4,6,9,12,13]]
df2.head()

,Property_Area,Number_of_Windows,Number_of_Doors,Frequency_of_Powercuts,Traffic_Density_Score,Air_Quality_Index,Neighborhood_Review
1,733,2.0,2,1.0,4.37,96.0,3.55
2,737,4.0,2,0.0,7.45,121.0,3.81
3,900,3.0,2,2.0,6.16,100.0,1.34
4,2238,14.0,6,0.0,5.46,116.0,4.77
5,1185,3.0,3,0.0,5.69,91.0,4.49

In [71]:
from sklearn.preprocessing import StandardScaler

In [72]:
sc = StandardScaler()

In [73]:
df2 = sc.fit_transform(df2)

In [78]:
df2 = pd.DataFrame(df2)

In [90]:
final = pd.concat([df2,df1],axis=1)

In [91]:
final

,0,1,2,3,4,5,6,0,1,2,...,14,15,16,17,18,19,20,21,22,23
0,-0.337143,-0.715193,-0.284456,0.685475,-1.627038,-0.407715,-0.231744,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
1,-0.335111,0.027420,-0.284456,-0.643602,0.896389,-0.007047,0.094363,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
2,-0.252293,-0.343886,-0.284456,2.014552,-0.160501,-0.343608,-3.003652,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
3,0.427527,3.740487,3.099358,-0.643602,-0.734007,-0.087181,1.298450,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
4,-0.107488,-0.343886,0.561498,-0.643602,-0.545569,-0.487849,0.947258,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33767,1.329890,2.997874,3.099358,-0.643602,0.937354,-0.664143,1.348620,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
33768,0.975753,2.255260,1.407451,2.014552,-1.889212,-0.327582,-1.812108,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
33769,-0.483472,-1.086500,0.561498,0.685475,-0.537376,-0.567983,-1.009383,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
33770,1.210997,0.770034,3.099358,-0.643602,0.396620,0.249380,0.081820,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
33771,-0.085132,-0.715193,1.407451,-0.643602,1.584597,0.169247,1.173024,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0

In [93]:
y = df.iloc[:,14]

In [94]:
x = final
x

,0,1,2,3,4,5,6,0,1,2,...,14,15,16,17,18,19,20,21,22,23
0,-0.337143,-0.715193,-0.284456,0.685475,-1.627038,-0.407715,-0.231744,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
1,-0.335111,0.027420,-0.284456,-0.643602,0.896389,-0.007047,0.094363,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
2,-0.252293,-0.343886,-0.284456,2.014552,-0.160501,-0.343608,-3.003652,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
3,0.427527,3.740487,3.099358,-0.643602,-0.734007,-0.087181,1.298450,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
4,-0.107488,-0.343886,0.561498,-0.643602,-0.545569,-0.487849,0.947258,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33767,1.329890,2.997874,3.099358,-0.643602,0.937354,-0.664143,1.348620,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
33768,0.975753,2.255260,1.407451,2.014552,-1.889212,-0.327582,-1.812108,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
33769,-0.483472,-1.086500,0.561498,0.685475,-0.537376,-0.567983,-1.009383,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
33770,1.210997,0.770034,3.099358,-0.643602,0.396620,0.249380,0.081820,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
33771,-0.085132,-0.715193,1.407451,-0.643602,1.584597,0.169247,1.173024,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0

In [95]:
from sklearn.model_selection import train_test_split

In [96]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

In [97]:
from sklearn.linear_model import LinearRegression

In [98]:
lr = LinearRegression()

In [99]:
lr.fit(x_train,y_train)

LinearRegression()

In [102]:
y_pred = lr.predict(x_test)

In [101]:
from sklearn.metrics import mean_absolute_error

In [103]:
mean_absolute_error(y_test,y_pred)

7.230068836508659

In [105]:
from sklearn.tree import DecisionTreeRegressor

In [106]:
dtr = DecisionTreeRegressor()

In [108]:
dtr.fit(x_train,y_train)

DecisionTreeRegressor()

In [109]:
y_pred2 = dtr.predict(x_test)

In [110]:
mean_absolute_error(y_test,y_pred2)

5.762447076239822

In [114]:
from sklearn.ensemble import RandomForestRegressor

In [115]:
rfr = RandomForestRegressor()

In [116]:
rfr.fit(x_train,y_train)

RandomForestRegressor()

In [117]:
y_pred3 = rfr.predict(x_test)

In [118]:
mean_absolute_error(y_test,y_pred3)

4.423675692079941

In [121]:
from sklearn.svm import SVR

In [122]:
svr = SVR()

In [123]:
svr.fit(x_train,y_train)

SVR()

In [124]:
y_pred4 = svr.predict(x_test)

In [126]:
mean_absolute_error(y_test,y_pred4)

5.7100159987768935

In [127]:
df_test = pd.read_csv("/content/test.csv")

In [168]:
df_test.fillna(method="ffill",axis=0,inplace=True)

In [132]:
df.head(2)

,Property_ID,Property_Type,Property_Area,Number_of_Windows,Number_of_Doors,Furnishing,Frequency_of_Powercuts,Power_Backup,Water_Supply,Traffic_Density_Score,Crime_Rate,Dust_and_Noise,Air_Quality_Index,Neighborhood_Review,Habitability_score
1,0x68d4,Apartment,733,2.0,2,Unfurnished,1.0,No,Once in a day - Evening,4.37,Well below average,Medium,96.0,3.55,71.20
2,0x7d81,Apartment,737,4.0,2,Fully Furnished,0.0,No,Once in a day - Morning,7.45,Slightly below average,Medium,121.0,3.81,71.39

In [134]:
df1.head(2)

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
1,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0

In [135]:
df2.head(2)

          0         1         2         3         4         5         6
0 -0.337143 -0.715193 -0.284456  0.685475 -1.627038 -0.407715 -0.231744
1 -0.335111  0.027420 -0.284456 -0.643602  0.896389 -0.007047  0.094363

In [169]:
dft1 = df_test.iloc[:,[1,5,7,8,10,11]]
dft1

,Property_Type,Furnishing,Power_Backup,Water_Supply,Crime_Rate,Dust_and_Noise
0,Apartment,Unfurnished,No,Once in a day - Morning,Well above average,Medium
1,Apartment,Semi_Furnished,No,Once in a day - Evening,Well below average,Medium
2,Container Home,Semi_Furnished,No,All time,Slightly above average,Medium
3,Apartment,Semi_Furnished,No,All time,Slightly below average,Medium
4,Bungalow,Fully Furnished,No,All time,Well above average,High
...,...,...,...,...,...,...
10495,Apartment,Unfurnished,No,Once in a day - Evening,Slightly below average,Medium
10496,Container Home,Semi_Furnished,Yes,All time,Well below average,Medium
10497,Duplex,Fully Furnished,No,Once in a day - Evening,Well below average,High
10498,Single-family home,Unfurnished,Yes,Once in a day - Evening,Well below average,Medium
10499,Apartment,Semi_Furnished,No,All time,Slightly below average,Medium

In [170]:
for a in dft1.columns:
  print(a,len(dft1[a].unique()))

Property_Type 6
Furnishing 3
Power_Backup 3
Water_Supply 5
Crime_Rate 4
Dust_and_Noise 3

In [171]:
from sklearn.preprocessing import OneHotEncoder

In [172]:
ohe = OneHotEncoder()
dft1 = ohe.fit_transform(dft1)

In [173]:
dft1=pd.DataFrame(dft1.toarray())

In [174]:
dft2 = df_test.iloc[:,[2,3,4,6,9,12,13]]
dft2.head()

,Property_Area,Number_of_Windows,Number_of_Doors,Frequency_of_Powercuts,Traffic_Density_Score,Air_Quality_Index,Neighborhood_Review
0,293,3.0,1,0.0,7.28,152.0,2.52
1,586,4.0,1,0.0,7.63,92.0,4.16
2,305,1.0,2,1.0,5.39,90.0,2.92
3,258,2.0,1,1.0,7.53,158.0,3.45
4,3031,12.0,4,0.0,8.79,186.0,2.72

In [175]:
from sklearn.preprocessing import StandardScaler

In [176]:
sc = StandardScaler()

In [177]:
dft2 = sc.fit_transform(dft2)

In [178]:
dft2 = pd.DataFrame(dft2)

In [179]:
final2 = pd.concat([dft2,dft1],axis=1)

In [180]:
dft1.head(2)

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0

In [181]:
dft2.head(2)

          0         1         2         3         4         5         6
0 -0.590717 -0.333468 -1.128739 -0.647132  0.755214  0.565622 -1.530498
1 -0.429161  0.038983 -1.128739 -0.647132  1.043000 -0.512868  0.536849

In [182]:
final2

,0,1,2,3,4,5,6,0,1,2,...,14,15,16,17,18,19,20,21,22,23
0,-0.590717,-0.333468,-1.128739,-0.647132,0.755214,0.565622,-1.530498,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
1,-0.429161,0.038983,-1.128739,-0.647132,1.043000,-0.512868,0.536849,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
2,-0.584100,-1.078371,-0.277870,0.685460,-0.798833,-0.548818,-1.026267,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
3,-0.610015,-0.705920,-1.128739,0.685460,0.960775,0.673471,-0.358161,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
4,0.918975,3.018595,1.423869,-0.647132,1.996807,1.176766,-1.278383,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10495,-0.222392,-0.333468,0.573000,-0.647132,-0.757721,-0.476919,-0.232103,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
10496,-0.596782,-1.078371,-0.277870,3.350642,0.294755,-0.261221,-1.051479,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
10497,14.380482,-1.078371,-0.277870,-0.647132,2.399708,0.511697,0.360368,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
10498,0.047787,-0.705920,0.573000,0.685460,-0.091701,0.188150,-0.307738,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
10499,-0.433572,-0.705920,-1.128739,-0.647132,-0.313708,-0.153372,0.524243,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0

In [184]:
p1 = lr.predict(final2)
p2 = dtr.predict(final2)
p3 = rfr.predict(final2)
p4 = svr.predict(final2)

In [185]:
mean_absolute_error(p1,p2)

7.261287617935883

In [186]:
mean_absolute_error(p2,p3)

4.054170942857143

In [187]:
mean_absolute_error(p3,p4)

3.782548119975854

In [188]:
mean_absolute_error(p4,p2)

5.833542737963133

In [189]:
p3

array([30.9022, 81.0418, 65.2626, ..., 75.4154, 79.661 , 79.8095])

In [190]:
df_test.head()

,Property_ID,Property_Type,Property_Area,Number_of_Windows,Number_of_Doors,Furnishing,Frequency_of_Powercuts,Power_Backup,Water_Supply,Traffic_Density_Score,Crime_Rate,Dust_and_Noise,Air_Quality_Index,Neighborhood_Review
0,0x6e93,Apartment,293,3.0,1,Unfurnished,0.0,No,Once in a day - Morning,7.28,Well above average,Medium,152.0,2.52
1,0x8787,Apartment,586,4.0,1,Semi_Furnished,0.0,No,Once in a day - Evening,7.63,Well below average,Medium,92.0,4.16
2,0x6c17,Container Home,305,1.0,2,Semi_Furnished,1.0,No,All time,5.39,Slightly above average,Medium,90.0,2.92
3,0x9dbd,Apartment,258,2.0,1,Semi_Furnished,1.0,No,All time,7.53,Slightly below average,Medium,158.0,3.45
4,0xbfde,Bungalow,3031,12.0,4,Fully Furnished,0.0,No,All time,8.79,Well above average,High,186.0,2.72

In [192]:
id = df_test.iloc[:,0]

In [193]:
pd.read_csv("/content/sample_submission.csv")

  Property_ID  Habitability_score
0      0x21e3               71.98
1      0x68d4               71.20
2      0x7d81               71.39
3      0x7a57               31.46
4      0x9409               93.70

In [194]:
submission = pd.DataFrame({"Property_ID":id,"Habitability_score":p3})

In [195]:
submission

      Property_ID  Habitability_score
0          0x6e93             30.9022
1          0x8787             81.0418
2          0x6c17             65.2626
3          0x9dbd             71.2135
4          0xbfde             74.3830
...           ...                 ...
10495      0x423d             60.9617
10496      0x78c5             83.0341
10497       0xbf3             75.4154
10498      0x305b             79.6610
10499      0x5cff             79.8095

[10500 rows x 2 columns]

In [196]:
submission.to_csv("Submission.csv",index=False)

In [197]:
pd.read_csv("Submission.csv")

      Property_ID  Habitability_score
0          0x6e93             30.9022
1          0x8787             81.0418
2          0x6c17             65.2626
3          0x9dbd             71.2135
4          0xbfde             74.3830
...           ...                 ...
10495      0x423d             60.9617
10496      0x78c5             83.0341
10497       0xbf3             75.4154
10498      0x305b             79.6610
10499      0x5cff             79.8095

[10500 rows x 2 columns]